#newsfeed {
    width: 100%;
    left: 0px;
    top: -500px;
    overflow-x: scroll;
    overflow-y: hidden;
    height: 120px;
    white-space: nowrap;
}
#navbar {
    width: 100%;
    overflow-x: scroll;
}

img.feedItem {
    display: inline-block;
    height: 110px;
    width: 110px;
    padding-bottom: 0px;
    padding-left: 5px;
    box-shadow: 0px 0px 0px;

}
.imgDiv {
    display: inline-block;
}

.feedItem:hover {
    opacity: .6;
}

#favouriteStar {
    left: 0px;
    width: 125px;
    height: 125px;
}

