#newsfeed {
    position: relative;
    height: 500px;
    width: 320px;
    top: -700px;
    left: 100px;
    overflow-y: scroll;
    z-index: 2;
}

#form {
    top: 100px;
    left: 400px;
    z-index: 3;
}

#map {
    z-index: 1;
}

.feedItem {
    transition: 0.5s ease;
}

.feedItem:hover {
    transform: scale(1.1)
}
#adminForm {
    position: absolute;
    top: 500px;
    left: -100px;
    font-size: 200%;
}

#root > div > div:nth-child(3) {
    height: 0px;
}

.favButton {
    position: absolute;
    top: 20px;
}

#favouriteStar {
    position: absolute;
    left: 85%;
    top: 200px;
    z-index: 4;
    width: 200px;
    height: 200px;
}